@model DealershipModel.Entities.Dealership[]

@foreach (var dealership in Model)
 {
    <li role="presentation">
       @Ajax.ActionLink($"{dealership.Address.City}, {dealership.Address.State} (Store #:{dealership.Id.ToString("D5")})",
          "Dealership",
          new RouteValueDictionary
          {
             {"id", dealership.Id}
          }, new AjaxOptions()
          {
             HttpMethod = "Post",
             UpdateTargetId = "DealershipDetails",
             OnSuccess = "FocusMap"
          })
    </li>

 }

@if (Model.Length == 0)
{
   <text>
      No dealerships match your search requirements. Please expand your search criteria.
   </text>
}
